<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>La mia storia</h2>
        <hr class="glass-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sono Raul Romor, un giovane consulente enologico.
          Attraverso la mia esperienza e la mia passione per l'enologia, mi impegno
          a guidare i produttori vinicoli verso nuovi orizzonti di qualità e gusto.</p>
      </div>
      <div class="col-lg-4">
        <p> Con un approccio fresco e dinamico, lavoro fianco a fianco con i clienti
          per sviluppare soluzioni su misura che esaltino il potenziale unico di ogni
          vigneto e territorio.</p>
      </div>
      <!--<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
